
#navbar{
    position:absolute;
    height:40px;
    padding:10px;
    z-index: 40;
    width:50%;
    color:#000000;
    font-family: "Calibri Light";
    outline:none;
    text-decoration: none;
}
#navbar a{
    color: #f2f2f2;
    font-size:20px;
    text-decoration:inherit;
    font-weight: bold;
    margin-right:5%;
} 

#navbar hr{
    background:linear-gradient(to right, #f1ece4 40%, #454a6400);
    margin:2px 0px 5px 0;
    border: 0;
    height: 2.5px;
    width:70%;
}


#IntroTitle{
    position: absolute;
    background: transparent;
    color:#f1ece4;
    height: 70px;
    width:100%;
    padding:0px;
    top:70px;
    text-align: center;
    overflow: hidden;
}

#IntroTitle p{
    position: absolute;
    background: transparent;
    color:#f1ece4;
    left:15%;
    padding-top:5px;
    width:70%;
    text-align: justify;
}

#F1, #F2, #F3{
    position: absolute;
    background: transparent;
    background:#000000;
    height: 30%;
    width:20%;
    outline:none;
    padding-bottom: 0px;
    text-align:center;
}

#F1{
    background: #FFFFFF;
    color:#000000;
}

#F1 h1, #F2 h1, #F3 h1{
    font-size: 20px;
}

#F1 h4,#F2 h4, #F3 h4{
    font-size: 12px;
    font-weight:200;
}

#F1:hover, #F2:hover, #F3:hover{
    background: "transparent";
    color:#FFFFFF;
}


#F1{
    top: 60%;
    left: 15%;
}

#F2{
    top: 60%;
    left: 40%;
}

#F3{
    top: 60%;
    left: 65%;
}













